{% extends 'base.html.twig' %}

{% block title %}Liste des patients{% endblock %}

{% block body %}
    <h1>Listes des Patient</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumSS</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de Naissance</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.NumSS }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ patient.sexe }}</td>
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">voir</a>
                    <a href="{{ path('patient_edit', {'id': patient.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patient_new') }}">Ajouter Patient</a>
{% endblock %}
