{% extends 'base.html.twig' %}


{% block title %}Consultation{% endblock %}

{% block body %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Date & Heure</th>
                <td>{{ consultation.dateHeure ? consultation.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            {# <tr>
                <th>Patient</th>
                {%for p in consultation.patient %}
                <td>{{ p.nom }}</td>
                {%endfor%}
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('consultation_index') }}">retour</a>

    <a href="{{ path('consultation_edit', {'id': consultation.id}) }}">editer</a>

    {{ include('consultation/_delete_form.html.twig') }}
{% endblock %}
